.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 35%;
      &:last-child {
        width: 8%;
      }
      @media screen and (max-width:800px){
        padding: 1%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
  .test-warning{
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    color: red;
  }
  Button{
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  @media screen and (max-width:800px) {
    width: 80%;
    margin: 20% 5%;
    font-size: 1rem;
    display: flex;
    align-items: center;
  }
}
